// 헤더섹션
@media (max-width: 768px) {

  .header {
    height: 60rem;
    background: $color-white;
    position: fixed;
    top: 0;
    left: 0;
    border-bottom: 1px solid $color-line ;
    z-index: 1001;

    &.on {
      filter: invert(0);
    }

    h1 {
      filter: invert(100%);
    }

    .right_menu {
      display: none;
    }
  }

  .left_menu {
    display: none;
  }


  .gnb {
    position: fixed;
    top: 0;
    bottom: 0;
    left: -100%;
    right: 0;
    z-index: 999;
    background: #f9f9f9;
    padding: 0 15rem;
    width: calc(100% / 2);
    border-right: 1px solid $color-line ;
    transition: 0.5s;

    &.on {
      left: 0;
      inset: 0 0 0 0;
    }

    ul {
      li {

        a {
          position: relative;
          bottom: -200rem;
          margin: 0 0 30rem 0;
          height: 30rem;

          span {
            display: block;
            font-size: 28rem;
            font-weight: 700;
            color: $color-mf ;
            height: 120%;
            border-bottom: 2rem solid $color-dark ;
          }

          &::after {
            display: none;
          }
        }

        &.on {
          a {
            span {
              transform: translate(0, 0);
            }

            &::after {
              width: 100%;
            }
          }
        }
      }
    }
  }
}



// 모바일 버튼
@media (max-width: 768px) {


  .mobile_btn {

    display: block;

    position: fixed;
    inset: 15rem 15rem auto auto;
    z-index: 1000;
    width: 30rem;
    height: 30rem;
    background: $color_black;
    border-radius: 5rem;

    &::before,
    &::after {

      content: "";
      position: absolute;
      inset: 14rem 5rem auto 5rem;
      height: 2rem;
      background: $color_white;
    }

    &.on::before {
      transform: rotate(45deg);
      transition: 0.5s 0.2s;
    }

    &.on::after {
      transform: rotate(-45deg);
      transition: 0.5s 0.6s;
    }


    &.on button::before,
    &.on button::after {
      display: none;
    }

    button {
      border: none;
      outline: none;
      background: transparent;

      &::before,
      &::after {
        content: "";
        position: absolute;
        height: 2rem;
        background: $color_white;
      }

      &::before {
        inset: 7rem 5rem auto 5rem;
      }

      &::after {
        inset: auto 5rem 7rem 5rem;
      }
    }
  }
}

// 메인섹션
@media (max-width: 768px) {
  .Main__content {
    margin: 0 0 0 0;

    .main {
      background: url(../images/main01.jpg) center center/cover;

      .inner {
        .txt_box {
          position: absolute;
          left: 53%;
          top: 25%;
          width: 170rem;
          color: $color-white;

          span {
            display: block;
            font-size: 20rem;
            font-weight: 300;
            color: $color-line;
            margin: 0 0 16rem 0;
          }

          strong {
            display: block;
            font-size: 36rem;
            letter-spacing: 0.025em;
            font-weight: 700;
          }

          p {
            font-size: 16rem;
            line-height: 24rem;
            font-weight: 700;
            text-shadow: 1rem 1rem 20rem $color-rgba05;
          }
        }
      }
    }
  }
}

// 서브섹션1
@media (max-width: 768px) {
  .Main__content {
    .sub01 {
      display: grid;
      grid-template-columns: 1 1fr;
      margin: 0 0 680rem 0;

      .left {
        float: none;
        width: 100%;
        height: max-content;


        .content {
          padding: 48rem 15rem;

          .title_box {
            span {
              font-size: 20rem;
            }

            strong {
              font-size: 36rem;
            }
          }
        }
      }

      .right {
        width: 100%;
        height: max-content;
        float: none;

        .content {
          padding: 48rem 15rem;

          .txt_box {
            margin: 0 0 32rem 0;

            ul {
              display: grid;
              grid-template-columns: repeat(1, 1fr);
              gap: 24rem;
            }
          }

          .img_box {
            position: relative;

            .btn_box {
              left: 50%;
              transform: translate(-50%, -50%);
              bottom: -108rem;

              a {
                i {
                  font-size: 20rem;
                }
              }
            }
          }
        }
      }
    }
  }
}

// 서브섹션2
@media (max-width: 768px) {
  .Main__content {
    .sub02 {
      background: url(../images/commu_bg.jpg) center top/cover;

      .content {
        padding: 48rem 15rem;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 64rem;

        .txt_box {
          .title_box {
            margin: 0 0 24rem 0;

            span {
              font-size: 20rem;
            }

            strong {
              font-size: 24rem;
            }
          }

          ul {
            margin: 0 auto 32rem auto;
          }

          .btn_box {
            margin: 0 auto;
          }
        }

        .img_box {
          .tab_link {
            top: -36rem;

            >li {
              width: 60rem;
              height: 60rem;

              h3 {
                font-size: 20rem;
              }
            }
          }
        }
      }
    }
  }
}

// 서브섹션3
@media (max-width: 768px) {
  .Main__content {
    .sub03 {
      background: url(../images/clein_bg.jpg) right 40% bottom/cover;

      .content {
        padding: 48rem 0;

        .title_box {
          margin: 0 auto 48rem auto;
          width: 80%;

          strong {
            font-size: 16rem;
          }

          span {
            margin: 0 0 0 256rem;
          }
        }

        .s_txt_box {
          display: grid;
          grid-template-columns: 1 1fr;
          justify-content: center;
          gap: 40rem;
          text-shadow: 2rem 1rem 20rem $color-rgba025;

          .itm {
            position: static;

            &::before {
              display: none;
            }
          }
        }
      }
    }
  }
}

// 서브섹션4
@media (max-width: 768px) {
  .Main__content {
    .sub04 {
      .content {
        padding: 48rem 0;

        .title_box {
          margin: 0 0 36rem 0;

          strong {
            display: block;
            font-size: 64rem;
            font-weight: 700;
            letter-spacing: 0.05em;
            margin: 0 0 8rem 0;
          }
        }

        .txt_box {
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
          gap: 12rem;

          .itm {
            border: none;
            min-height: 100%;

            strong {
              font-size: 28rem;
              margin: 0 0 32rem 0;
            }

            figure {
              display: none;
            }
          }
        }
      }
    }
  }
}

// 푸터 섹션
@media (max-width: 768px) {
  .footer {

    padding: 0 0 50rem 0;

    .content {
      flex-direction: column;
      gap: 36rem;

      .ft_tel {
        display: block;
        color: $color-white;
        font-size: 32rem;
        width: 100%;
        text-align: center;
        padding: 20rem 0;
        border-bottom: 1px solid $color-dark;


        i {
          vertical-align: middle;
        }
      }

    }


    .left {
      ul li~li::before {
        display: none;
      }
    }

    .contact,
    .adress,
    .reference {
      flex-direction: column;
      text-align: center;
      gap: 8rem;

    }


    .adress,
    .reference {
      margin: 0 0 8rem 0;
      text-align: center;
    }

    span {
      text-align: center;
    }
  }
}