// 헤더섹션
@media (max-width: 768px) {
  .header {
    height: 60rem;
    background: $color-white;
    position: fixed;
    top: 0;
    left: 0;

    h1 {
      filter: invert(100%);
    }

    .right_menu {
      display: none;
    }
  }

  .left_menu {
    display: none;
  }

  .gnb {
    display: none;
  }
}

// 메인섹션
@media (max-width: 768px) {
  .Main__content {
    margin: 0 0 0 0;

    .main {
      background: url(../images/main01.jpg) center center/cover;
      .inner {
        padding: 300rem 15rem;
        .txt_box {
          position: absolute;
          left: 55%;
          top: 25%;
          width: 50%;
          color: $color-white;

          span {
            display: block;
            font-size: 20rem;
            font-weight: 300;
            color: $color-line;
            margin: 0 0 16rem 0;
          }

          strong {
            display: block;
            font-size: 36rem;
            letter-spacing: 0.025em;
            font-weight: 700;
          }

          p {
            font-size: 16rem;
            line-height: 24rem;
            font-weight: 700;
            text-shadow: 1rem 1rem 20rem $color-rgba05;
          }
        }
      }
    }
  }
}

// 서브섹션1
@media (max-width: 768px) {
  .Main__content {
    .sub01 {
      display: grid;
      grid-template-columns: 1 1fr;
      .left {
        width: 100%;
        .content {
          padding: 64rem 15rem;
          .title_box {
            span {
              font-size: 20rem;
            }

            strong {
              font-size: 36rem;
            }
          }
        }
      }

      .right {
        width: 100%;
        height: 100%;
        .content {
          padding: 64rem 15rem 100rem 15rem;
          .txt_box {
            margin: 0 0 32rem 0;
            ul {
              display: grid;
              grid-template-columns: repeat(1, 1fr);
              gap: 24rem;
            }
          }

          .img_box {
            position: relative;

            .btn_box {
              left: 50%;
              transform: translate(-50%, -50%);
              bottom: -108rem;
              a {
                i {
                  font-size: 20rem;
                }
              }
            }
          }
        }
      }
    }
  }
}

// 서브섹션2
@media (max-width: 768px) {
  .Main__content {
    .sub02 {
      background: url(../images/commu_bg.jpg) center top/cover;
      .content {
        padding: 64rem 15rem;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 64rem;

        .txt_box {
          .title_box {
            margin: 0 0 24rem 0;

            span {
              font-size: 20rem;
            }

            strong {
              font-size: 24rem;
            }
          }

          ul {
            margin: 0 auto 32rem auto;
          }
          .btn_box {
            margin: 0 auto;
          }
        }
        .img_box {
          .tab_link {
            top: -36rem;
            > li {
              width: 60rem;
              height: 60rem;
              h3 {
                font-size: 20rem;
              }
            }
          }
        }
      }
    }
  }
}

// 서브섹션3
@media (max-width: 768px) {
  .Main__content {
    .sub03 {
      background: url(../images/clein_bg.jpg) right 40% bottom/cover;
      .content {
        padding: 64rem 0;
        .title_box {
          margin: 0 auto 64rem auto;
          width: 80%;
          strong {
            font-size: 16rem;
          }
          span {
            margin: 0 0 0 256rem;
          }
        }

        .s_txt_box {
          display: grid;
          grid-template-columns: 1 1fr;
          justify-content: center;
          gap: 40rem;
          text-shadow: 2rem 1rem 20rem $color-rgba025;
          .itm {
            position: static;
            &::before {
              display: none;
            }
          }
        }
      }
    }
  }
}

// 서브섹션4
@media (max-width: 768px) {
  .Main__content {
    .sub04 {
      .content {
        padding: 64rem 0;
        .title_box {
          margin: 0 0 36rem 0;
          strong {
            display: block;
            font-size: 64rem;
            font-weight: 700;
            letter-spacing: 0.05em;
            margin: 0 0 8rem 0;
          }
        }

        .txt_box {
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
          gap: 12rem;

          .itm {
            border: none;
            min-height: 100%;
            strong {
              font-size: 28rem;
              margin: 0 0 32rem 0;
            }
            figure {
              display: none;
            }
          }
        }
      }
    }
  }
}

// 푸터 섹션
@media (max-width: 768px) {
  .footer {
    .content {
      flex-direction: column;
      gap: 24rem;
    }

    .left {
      ul li ~ li::before {
        display: none;
      }
    }

    .contact,
    .adress,
    .reference {
      flex-direction: column;
      text-align: center;
      gap: 8rem;
    }

    .reference {
      text-align: center;
    }

    span {
      text-align: center;
    }
  }
}
