@charset "UTF-8";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/static/pretendard.css");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");
@keyframes TxtDownAni {
  0% {
    opacity: 0;
    transform: translate(0, -50rem);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
@keyframes TxtDownAni02 {
  0% {
    opacity: 0;
    transform: translate(0, -25rem);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
@keyframes TxtUpAni {
  0% {
    opacity: 0;
    transform: translate(0, 50rem);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
@keyframes TxtrightAni {
  0% {
    opacity: 0;
    transform: translate(-100rem, 0);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
@keyframes TxtleftAni {
  0% {
    opacity: 0;
    transform: translate(100rem, 0);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
@keyframes arrow {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  50% {
    transform: translate(0, 9rem);
    opacity: 1;
  }
  100% {
    transform: translate(0, 18rem);
    opacity: 0;
  }
}
@keyframes circle {
  0% {
    transform: translate(-50%, -50%);
    outline: 0 solid rgb(255, 255, 255);
  }
  80% {
    outline: 0 solid rgb(255, 255, 255);
  }
  100% {
    transform: translate(-50%, 90rem);
    outline: 20rem solid rgba(255, 255, 255, 0);
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: inherit;
  font-weight: inherit;
  font-style: normal;
}

*::before,
*::after {
  box-sizing: border-box;
}

*:hover {
  box-sizing: border-box;
}

ul,
ol,
li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  vertical-align: middle;
  max-width: 100%;
}

i,
em,
address {
  font-style: normal;
}

body {
  line-height: 1;
  color: #333;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  letter-spacing: -0.025em;
  word-break: keep-all;
  font-size: 16rem;
  overflow-x: hidden;
}

html {
  font-size: 6.25%;
  overflow-x: hidden;
}

.blind {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

/* line-height : 3rem + 3rem */
p {
  line-height: 1.375;
}

.inner {
  max-width: 1600rem;
  margin: 0 auto;
  padding: 0 15rem;
}

.btn_m {
  display: block;
  border-radius: 32rem;
  font-size: 20rem;
  font-weight: 600;
  background: #d11a45;
  padding: 15rem;
  margin: 0 auto;
  width: 300rem;
  transition: 0.2s;
  animation: TxtUpAni 1s both;
  animation-delay: 0.7s;
}
.btn_m:hover {
  background-color: #9e826f;
}

.btn {
  display: inline-block;
  border-radius: 32rem;
  font-size: 20rem;
  font-weight: 600;
  background: #d11a45;
  padding: 15rem 60rem;
  margin: 0 auto;
  transition: 0.2s;
  color: #fff;
  text-align: center;
}
.btn:hover {
  background-color: #9e826f;
}

.mobile_btn {
  display: none;
}

@media (max-width: 768px) {
  /* 아이폰 반응형 대응 방식 */
  html {
    /* vw 390인 디바이스를 기준으로 폰트 사이즈를 pc에서 쓰는 rem과 동일하게 만드는 법 */
    font-size: 0.2564102564vw;
    /* 390 size에 맞춤 (16/390*6.25/100) 디자인 사이즈 */
  }
}
/* 그냥 반응형을 만들어버리는 소스 */
.r_inner {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.section .title_box {
  opacity: 0;
  transition: 0.5s 0.5s;
}
.section .s_txt_box {
  opacity: 0;
  transition: 0.5s 0.5s;
}
.section .txt_box {
  opacity: 0;
  transition: 0.5s 0.5s;
}
.section .img_box {
  opacity: 0;
  transition: 0.5s 0.5s;
}

.section.on .title_box {
  animation: TxtDownAni 1.5s both;
  opacity: 1;
  transition: 0.5s;
}
.section.on .s_txt_box {
  opacity: 1;
  transition: 0.5s;
}
.section.on .txt_box {
  animation: TxtUpAni 1.5s both;
  opacity: 1;
  transition: 0.5s;
}
.section.on .img_box {
  opacity: 1;
  transition: 0.5s 1s;
}

.header {
  position: fixed;
  top: 0;
  left: 120rem;
  right: 0;
  z-index: 999;
  padding: 0 15rem;
  max-width: 1600rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header.on {
  filter: invert(100%);
}
.header h1 a {
  line-height: 120rem;
}
.header h1.on {
  filter: invert(100%);
}
.header .right_menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50rem;
  position: relative;
}
.header .right_menu::after {
  content: "";
  position: absolute;
  right: 200rem;
  width: 1px;
  height: 24rem;
  background: rgba(255, 255, 255, 0.5);
}
.header .right_menu ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 120rem;
}
.header .right_menu ul li {
  position: relative;
  overflow: hidden;
  width: 24rem;
  height: 120rem;
  margin: 0 0 0 20rem;
}
.header .right_menu ul li .sns_box a {
  width: 100%;
  height: 120rem;
  display: block;
}
.header .right_menu ul li .sns_box a img {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  transition: 0.4s;
}
.header .right_menu ul li .sns_box a .sns_txt {
  transform: translateX(40rem);
  width: 100%;
  height: 23rem;
  -o-object-fit: contain;
     object-fit: contain;
}
.header .right_menu ul li .sns_box a::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 40rem;
  width: 0;
  height: 1px;
  background-color: #fff;
  transition: 0.5s;
  z-index: -1;
}
.header .right_menu ul li .sns_box a:hover .sns_img {
  transform: translateX(-40rem);
}
.header .right_menu ul li .sns_box a:hover .sns_txt {
  transform: translateX(0);
}
.header .right_menu ul li .sns_box a:hover::after {
  width: 100%;
}
.header .right_menu .tel {
  color: #fff;
  white-space: nowrap;
  text-align: center;
  font-size: 28rem;
  font-weight: 700;
}
.header .right_menu .tel i {
  color: #fff;
  font-size: 24rem;
  padding: 8rem 10rem;
}

.left_menu {
  position: absolute;
  width: 120rem;
  height: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 1000;
  background-color: #2f3339;
  padding: 50rem 0;
}
.left_menu h2 {
  margin: 0 0 25vh 0;
}
.left_menu h2 a {
  display: block;
  text-align: center;
}
.left_menu ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30rem;
  overflow: auto;
}
.left_menu ul li {
  position: relative;
  height: 100%;
}
.left_menu ul li a {
  font-size: 18rem;
  line-height: 100rem;
  font-weight: 900;
  color: #6c6e71;
  letter-spacing: 0;
  text-transform: uppercase;
  writing-mode: vertical-lr;
}
.left_menu ul li:hover a, .left_menu ul li.on a {
  color: #fff;
}
.left_menu ul li::after {
  content: "";
  position: absolute;
  right: -10rem;
  top: 0;
  width: 3rem;
  height: 0;
  background: #fff;
}
.left_menu ul li:hover::after {
  content: "";
  position: absolute;
  right: -10rem;
  top: 0;
  width: 3rem;
  height: 100%;
  background: #fff;
  transition: 0.5s;
}
.left_menu ul li.on::after {
  content: "";
  position: absolute;
  right: -10rem;
  top: 0;
  width: 3rem;
  height: 100%;
  background: #fff;
  transition: 0.5s;
}

.gnb {
  position: fixed;
  bottom: 50%;
  right: 0;
  z-index: 999;
  padding: 0 15rem;
}
.gnb.on a {
  color: #000;
}
.gnb.on a::after {
  background: #000;
}
.gnb ul li a {
  position: relative;
  display: block;
  width: 36rem;
  height: 16rem;
  color: #fff;
}
.gnb ul li a span {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  font-size: 12rem;
  font-weight: 700;
  text-transform: uppercase;
}
.gnb ul li a::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  width: 50%;
  height: 2rem;
  background: #fff;
  transition: width 0.3s;
}
.gnb ul li.on a span {
  display: block;
  transform: translate(-100%, 0);
}
.gnb ul li.on a::after {
  width: 100%;
}

.Main__content {
  position: relative;
  margin: 0 0 0 120rem;
}
.Main__content .main {
  position: relative;
  background: url(../images/main01.jpg) center top/cover;
}
.Main__content .main .inner {
  /* 메인 슬라이드 스크롤 효과 */
}
.Main__content .main .inner .txt_box {
  position: absolute;
  right: 15%;
  top: 250rem;
  color: #fff;
}
.Main__content .main .inner .txt_box span {
  display: block;
  font-size: 32rem;
  font-weight: 200;
  color: #ddd;
  margin: 0 0 16rem 0;
  animation: TxtDownAni 1s both;
}
.Main__content .main .inner .txt_box strong {
  display: block;
  font-size: 72rem;
  letter-spacing: 0.025em;
  font-weight: 700;
  margin: 0 0 32rem 0;
  animation: TxtDownAni02 1s both;
  animation-delay: 1s;
}
.Main__content .main .inner .txt_box p {
  font-size: 18rem;
  line-height: 28rem;
  animation: TxtUpAni 1s both;
  animation-delay: 1.5s;
}
.Main__content .sub01 .left {
  width: 50%;
  float: left;
  height: 100vh;
  background: #000;
}
.Main__content .sub01 .left .content {
  padding: 132rem 15rem;
  max-width: 700rem;
  margin: 0 auto;
  color: #fff;
}
.Main__content .sub01 .left .content .title_box {
  margin: 0 0 36rem 0;
}
.Main__content .sub01 .left .content .title_box span {
  font-size: 24rem;
  font-weight: 200;
  display: block;
  margin: 0 0 8rem 0;
}
.Main__content .sub01 .left .content .title_box strong {
  font-size: 32rem;
  font-weight: 700;
  color: #9e826f;
}
.Main__content .sub01 .left .content .img_box {
  margin: 0 0 40rem 0;
}
.Main__content .sub01 .left .content .txt_box ul {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20rem;
}
.Main__content .sub01 .left .content .txt_box ul li strong {
  display: block;
  color: #9e826f;
  font-size: 18rem;
  font-weight: 700;
  margin: 0 0 8rem 0;
}
.Main__content .sub01 .left .content .txt_box ul li p {
  font-weight: 200;
  color: rgba(255, 255, 255, 0.5);
}
.Main__content .sub01 .right {
  width: 50%;
  float: right;
  height: 100vh;
  background: #fff;
}
.Main__content .sub01 .right .content {
  padding: 132rem 15rem;
  max-width: 700rem;
  margin: 0 auto;
}
.Main__content .sub01 .right .content .txt_box {
  margin: 0 0 30rem 0;
}
.Main__content .sub01 .right .content .txt_box ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 36rem;
}
.Main__content .sub01 .right .content .txt_box ul li strong {
  display: block;
  color: #9e826f;
  font-size: 18rem;
  font-weight: 700;
  margin: 0 0 8rem 0;
}
.Main__content .sub01 .right .content .txt_box ul li p {
  font-weight: 400;
  color: #444444;
}
.Main__content .sub01 .right .content .img_box {
  position: relative;
}
.Main__content .sub01 .right .content .img_box .btn_box {
  width: 224rem;
  height: 54rem;
  left: 0;
  bottom: 0;
  position: absolute;
  background-color: #9d9d9d;
  color: #fff;
  font-weight: 400;
  line-height: 54rem;
}
.Main__content .sub01 .right .content .img_box .btn_box a {
  display: block;
  padding-left: 20rem;
  width: 100%;
  height: 100%;
}
.Main__content .sub01 .right .content .img_box .btn_box a i {
  font-size: 24rem;
  margin: 0 0 0 24rem;
  vertical-align: top;
}
.Main__content .sub02 {
  background: url(../images/commu_bg.jpg) center top/cover;
}
.Main__content .sub02 .content {
  padding: 100rem 15rem 0 15rem;
  display: grid;
  grid-template-columns: 3fr 4fr;
  gap: 124rem;
}
.Main__content .sub02 .content .txt_box .title_box {
  margin: 0 0 36rem 0;
}
.Main__content .sub02 .content .txt_box .title_box span {
  font-size: 24rem;
  font-weight: 300;
  color: #444444;
  display: block;
  margin: 0 0 8rem 0;
}
.Main__content .sub02 .content .txt_box .title_box strong {
  font-size: 32rem;
  font-weight: 700;
  color: #000;
}
.Main__content .sub02 .content .txt_box ul {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 24rem;
  margin: 0 0 64rem 0;
}
.Main__content .sub02 .content .txt_box ul li strong {
  display: block;
  color: #9e826f;
  font-size: 18rem;
  font-weight: 700;
  margin: 0 0 4rem 0;
}
.Main__content .sub02 .content .txt_box ul li p {
  font-weight: 400;
  color: #444444;
}
.Main__content .sub02 .content .txt_box .btn_box {
  width: 224rem;
  height: 54rem;
  background-color: #9d9d9d;
  color: #fff;
  font-weight: 400;
  line-height: 54rem;
  border-radius: 30rem;
  overflow: hidden;
}
.Main__content .sub02 .content .txt_box .btn_box a {
  display: block;
  text-align: center;
  width: 100%;
  height: 100%;
}
.Main__content .sub02 .content .img_box {
  position: relative;
}
.Main__content .sub02 .content .img_box .tab_link {
  position: absolute;
  top: -8rem;
  right: 0;
  display: flex;
  justify-content: center;
  gap: 12rem;
}
.Main__content .sub02 .content .img_box .tab_link > li {
  width: 100rem;
  height: 100rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #363636;
  background-color: #fff;
  text-align: center;
  color: #252525;
  cursor: pointer;
}
.Main__content .sub02 .content .img_box .tab_link > li :first-child {
  margin-left: 0;
}
.Main__content .sub02 .content .img_box .tab_link > li h3 {
  font-family: "Roboto", sans-serif;
  font-size: 28rem;
  line-height: 100%;
  font-weight: 700;
}
.Main__content .sub02 .content .img_box .tab_link > li p {
  font-size: 12rem;
  line-height: 100%;
  padding-top: 8rem;
  position: relative;
  display: inline-block;
  margin-top: 4rem;
}
.Main__content .sub02 .content .img_box .tab_link > li p:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 1px;
  background-color: #adaeb0;
}
.Main__content .sub02 .content .img_box .tab_link > li.on {
  background-color: #252525;
  color: #fff;
}
.Main__content .sub02 .content .img_box .tab_content .con {
  visibility: hidden;
  height: 0;
  overflow: hidden;
}
.Main__content .sub02 .content .img_box .tab_content .con.on {
  visibility: visible;
  height: 100%;
}
.Main__content .sub03 {
  background: url(../images/clein_bg.jpg) center top/cover;
  position: relative;
}
.Main__content .sub03 .content .title_box {
  text-align: center;
}
.Main__content .sub03 .content .title_box strong {
  display: block;
  font-size: 20rem;
  font-weight: 400;
  margin: 0 0 8rem 0;
}
.Main__content .sub03 .content .title_box span {
  display: block;
  font-size: 14rem;
  margin: 0 0 0 370rem;
}
.Main__content .sub03 .content .s_txt_box .itm {
  position: absolute;
}
.Main__content .sub03 .content .s_txt_box .itm Strong {
  display: block;
  font-size: 24rem;
  font-weight: 600;
  color: #3687b9;
  margin: 0 0 20rem 0;
}
.Main__content .sub03 .content .s_txt_box .itm p {
  font-size: 16rem;
  font-weight: 500;
  line-height: 24rem;
}
.Main__content .sub03 .content .s_txt_box .itm::before {
  content: "";
  position: absolute;
  left: -36rem;
  top: 50%;
  transform: translate(0, -50%);
  width: 1px;
  height: 420rem;
  background: #fff;
}
.Main__content .sub03 .content .s_txt_box .itm01 {
  left: 240rem;
  top: 152rem;
}
.Main__content .sub03 .content .s_txt_box .itm02 {
  left: 400rem;
  bottom: 240rem;
}
.Main__content .sub03 .content .s_txt_box .itm03 {
  right: 240rem;
  bottom: 60rem;
}
.Main__content .sub04 {
  background: url(../images/system_bg.jpg) center top/cover;
}
.Main__content .sub04 .content {
  color: #fff;
}
.Main__content .sub04 .content .title_box {
  text-align: center;
  margin: 0 0 60rem 0;
}
.Main__content .sub04 .content .title_box strong {
  display: block;
  font-size: 80rem;
  font-weight: 700;
  letter-spacing: 0.05em;
  margin: 0 0 8rem 0;
}
.Main__content .sub04 .content .title_box p {
  font-weight: 500;
  color: #7b7b7b;
}
.Main__content .sub04 .content .txt_box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 36rem;
}
.Main__content .sub04 .content .txt_box .itm {
  border: 1px solid #7b7b7b;
  padding: 48rem;
  min-height: 480rem;
  transition: 0.5s;
  position: relative;
}
.Main__content .sub04 .content .txt_box .itm strong {
  display: block;
  font-size: 32rem;
  margin: 0 0 48rem 0;
}
.Main__content .sub04 .content .txt_box .itm ul li {
  margin: 0 0 20rem 0;
  font-weight: 600;
  color: #7b7b7b;
}
.Main__content .sub04 .content .txt_box .itm figure {
  position: absolute;
  right: 48rem;
  bottom: 48rem;
  filter: invert(100%);
}
.Main__content .sub04 .content .txt_box .itm:hover {
  background: #fff;
  transform: translateY(-36rem);
}
.Main__content .sub04 .content .txt_box .itm:hover strong {
  filter: invert(100%);
}
.Main__content .sub04 .content .txt_box .itm:hover figure {
  filter: invert(0);
}

.footer {
  background: #000;
  padding: 50rem 0;
  color: #8f8f8f;
  border-top: 1px solid #444444;
}
.footer .content {
  max-width: 1600rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 60rem;
}
.footer .content h2 img {
  width: 100%;
}
.footer .content .ft_tel {
  display: none;
}
.footer .left {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 8rem;
}
.footer .left > ul li {
  position: relative;
}
.footer .left ul li ~ li::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -10rem;
  transform: translate(0, -50%);
  width: 1rem;
  height: 12rem;
  background: #333;
}
.footer .contact,
.footer .adress,
.footer .reference {
  display: flex;
  gap: 20rem;
  font-size: 16rem;
}
.footer .adress {
  margin: 0 0 8rem 0;
}
.footer .reference {
  color: #ddd;
  margin: 0 0 16rem 0;
  font-weight: 700;
}

@media (max-width: 768px) {
  .header {
    height: 60rem;
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    border-bottom: 1px solid #ddd;
    z-index: 1001;
  }
  .header.on {
    filter: invert(0);
  }
  .header h1 {
    filter: invert(100%);
  }
  .header .right_menu {
    display: none;
  }
  .left_menu {
    display: none;
  }
  .gnb {
    position: fixed;
    top: 0;
    bottom: 0;
    left: -100%;
    right: 0;
    z-index: 999;
    background: #f9f9f9;
    padding: 0 15rem;
    width: 50%;
    border-right: 1px solid #ddd;
    transition: 0.5s;
  }
  .gnb.on {
    left: 0;
    inset: 0 0 0 0;
  }
  .gnb ul li a {
    position: relative;
    bottom: -150rem;
    margin: 0 0 30rem 0;
    height: 30rem;
  }
  .gnb ul li a span {
    display: block;
    font-size: 28rem;
    font-weight: 700;
    color: #9e826f;
    height: 120%;
    border-bottom: 4rem solid #444444;
  }
  .gnb ul li a::after {
    display: none;
  }
  .gnb ul li.on a span {
    transform: translate(0, 0);
  }
  .gnb ul li.on a::after {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .mobile_btn {
    display: block;
    position: fixed;
    inset: 15rem 15rem auto auto;
    z-index: 1000;
    width: 30rem;
    height: 30rem;
    background: #000;
    border-radius: 5rem;
  }
  .mobile_btn::before, .mobile_btn::after {
    content: "";
    position: absolute;
    inset: 14rem 5rem auto 5rem;
    height: 2rem;
    background: #fff;
  }
  .mobile_btn.on::before {
    transform: rotate(45deg);
    transition: 0.5s 0.2s;
  }
  .mobile_btn.on::after {
    transform: rotate(-45deg);
    transition: 0.5s 0.6s;
  }
  .mobile_btn.on button::before, .mobile_btn.on button::after {
    display: none;
  }
  .mobile_btn button {
    border: none;
    outline: none;
    background: transparent;
  }
  .mobile_btn button::before, .mobile_btn button::after {
    content: "";
    position: absolute;
    height: 2rem;
    background: #fff;
  }
  .mobile_btn button::before {
    inset: 7rem 5rem auto 5rem;
  }
  .mobile_btn button::after {
    inset: auto 5rem 7rem 5rem;
  }
}
@media (max-width: 768px) {
  .Main__content {
    margin: 0 0 0 0;
  }
  .Main__content .main {
    background: url(../images/main01.jpg) center center/cover;
  }
  .Main__content .main .inner .txt_box {
    position: absolute;
    left: 53%;
    top: 25%;
    width: 170rem;
    color: #fff;
  }
  .Main__content .main .inner .txt_box span {
    display: block;
    font-size: 20rem;
    font-weight: 300;
    color: #ddd;
    margin: 0 0 16rem 0;
  }
  .Main__content .main .inner .txt_box strong {
    display: block;
    font-size: 36rem;
    letter-spacing: 0.025em;
    font-weight: 700;
  }
  .Main__content .main .inner .txt_box p {
    font-size: 16rem;
    line-height: 24rem;
    font-weight: 700;
    text-shadow: 1rem 1rem 20rem rgba(0, 0, 0, 0.5);
  }
}
@media (max-width: 768px) {
  .Main__content .sub01 {
    display: grid;
    grid-template-columns: 1 1fr;
    margin: 0 0 840rem 0;
  }
  .Main__content .sub01 .left {
    float: none;
    width: 100%;
    height: 100%;
  }
  .Main__content .sub01 .left .content {
    padding: 64rem 15rem;
  }
  .Main__content .sub01 .left .content .title_box span {
    font-size: 20rem;
  }
  .Main__content .sub01 .left .content .title_box strong {
    font-size: 36rem;
  }
  .Main__content .sub01 .right {
    width: 100%;
    height: 100%;
    float: none;
  }
  .Main__content .sub01 .right .content {
    padding: 64rem 15rem 100rem 15rem;
  }
  .Main__content .sub01 .right .content .txt_box {
    margin: 0 0 32rem 0;
  }
  .Main__content .sub01 .right .content .txt_box ul {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 24rem;
  }
  .Main__content .sub01 .right .content .img_box {
    position: relative;
  }
  .Main__content .sub01 .right .content .img_box .btn_box {
    left: 50%;
    transform: translate(-50%, -50%);
    bottom: -108rem;
  }
  .Main__content .sub01 .right .content .img_box .btn_box a i {
    font-size: 20rem;
  }
}
@media (max-width: 768px) {
  .Main__content .sub02 {
    background: url(../images/commu_bg.jpg) center top/cover;
  }
  .Main__content .sub02 .content {
    padding: 64rem 15rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 64rem;
  }
  .Main__content .sub02 .content .txt_box .title_box {
    margin: 0 0 24rem 0;
  }
  .Main__content .sub02 .content .txt_box .title_box span {
    font-size: 20rem;
  }
  .Main__content .sub02 .content .txt_box .title_box strong {
    font-size: 24rem;
  }
  .Main__content .sub02 .content .txt_box ul {
    margin: 0 auto 32rem auto;
  }
  .Main__content .sub02 .content .txt_box .btn_box {
    margin: 0 auto;
  }
  .Main__content .sub02 .content .img_box .tab_link {
    top: -36rem;
  }
  .Main__content .sub02 .content .img_box .tab_link > li {
    width: 60rem;
    height: 60rem;
  }
  .Main__content .sub02 .content .img_box .tab_link > li h3 {
    font-size: 20rem;
  }
}
@media (max-width: 768px) {
  .Main__content .sub03 {
    background: url(../images/clein_bg.jpg) right 40% bottom/cover;
  }
  .Main__content .sub03 .content {
    padding: 64rem 0;
  }
  .Main__content .sub03 .content .title_box {
    margin: 0 auto 64rem auto;
    width: 80%;
  }
  .Main__content .sub03 .content .title_box strong {
    font-size: 16rem;
  }
  .Main__content .sub03 .content .title_box span {
    margin: 0 0 0 256rem;
  }
  .Main__content .sub03 .content .s_txt_box {
    display: grid;
    grid-template-columns: 1 1fr;
    justify-content: center;
    gap: 40rem;
    text-shadow: 2rem 1rem 20rem rgba(0, 0, 0, 0.25);
  }
  .Main__content .sub03 .content .s_txt_box .itm {
    position: static;
  }
  .Main__content .sub03 .content .s_txt_box .itm::before {
    display: none;
  }
}
@media (max-width: 768px) {
  .Main__content .sub04 .content {
    padding: 64rem 0;
  }
  .Main__content .sub04 .content .title_box {
    margin: 0 0 36rem 0;
  }
  .Main__content .sub04 .content .title_box strong {
    display: block;
    font-size: 64rem;
    font-weight: 700;
    letter-spacing: 0.05em;
    margin: 0 0 8rem 0;
  }
  .Main__content .sub04 .content .txt_box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 12rem;
  }
  .Main__content .sub04 .content .txt_box .itm {
    border: none;
    min-height: 100%;
  }
  .Main__content .sub04 .content .txt_box .itm strong {
    font-size: 28rem;
    margin: 0 0 32rem 0;
  }
  .Main__content .sub04 .content .txt_box .itm figure {
    display: none;
  }
}
@media (max-width: 768px) {
  .footer {
    padding: 0 0 50rem 0;
  }
  .footer .content {
    flex-direction: column;
    gap: 36rem;
  }
  .footer .content .ft_tel {
    display: block;
    color: #fff;
    font-size: 32rem;
    width: 100%;
    text-align: center;
    padding: 20rem 0;
    border-bottom: 1px solid #444444;
  }
  .footer .content .ft_tel i {
    vertical-align: middle;
  }
  .footer .left ul li ~ li::before {
    display: none;
  }
  .footer .contact,
  .footer .adress,
  .footer .reference {
    flex-direction: column;
    text-align: center;
    gap: 8rem;
  }
  .footer .reference {
    text-align: center;
  }
  .footer span {
    text-align: center;
  }
}/*# sourceMappingURL=style.css.map */